body {
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}
table {
    box-shadow: 0 10px 20px #0000001a;
}

.title {
    font-size: 24px;
    color: midnightblue;
}